<div class="container-invitation w-100">
  <div class="d-flex justify-content-center">
    <img
      src="../assets/img/background.png"
      alt="background"
      class="img-fluid"
    />
    <div class="container-box-picture">
      <a href="pictures" class="box-pictures"></a>
    </div>
    <div class="container-box-conferencia">
      <a
        href="https://maps.app.goo.gl/5unrufq859s5xKLk6"
        class="box-conferencia"
      ></a>
    </div>
    <div class="container-box-civil">
      <a
        href="https://maps.app.goo.gl/qvvbwiGfS5Evi73i6"
        class="box-civil"
      ></a>
    </div>
    <div class="container-box-fiesta">
      <a
        href="https://maps.app.goo.gl/qvvbwiGfS5Evi73i6"
        class="box-fiesta"
      ></a>
    </div>
    <div class="container-box-cvu">
      <a
        href="https://wa.me/+5491132995113"
        class="box-cvu"
      ></a>
    </div>
    <div class="container-box-alias">
      <a
        href="https://wa.me/+5491132995113"
        class="box-alias"
      ></a>
    </div>
    <div class="container-box-whatsapp-1">
      <a
        href="https://wa.me/+5491132995113"
        class="box-whatsapp-1"
      ></a>
    </div>
    <div class="container-box-whatsapp-2">
      <a
        href="https://wa.me/+5491167391245"
        class="box-whatsapp-2"
      ></a>
    </div>
  </div>
</div>
